@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
<input id="btTRACE" type="button" value="TRACE" onclick="btTRACE_click()" />
</p>

<p>
<input id="btDEBUG" type="button" value="DEBUG" onclick="btDEBUG_click()" />
</p>

<p>
<input id="btINFO" type="button" value="INFO" onclick="btINFO_click()" />
</p>

<p>
<input id="btWARN" type="button" value="WARN" onclick="btWARN_click()" />
</p>

<p>
<input id="btERROR" type="button" value="ERROR" onclick="btERROR_click()" />
</p>

<p>
<input id="btFATAL" type="button" value="FATAL" onclick="btFATAL_click()" />
</p>




