<connectionStrings>
  <!--Web.Release.config has a transform that replaces this dev connection string with one that has placeholders for db server, user and password.-->
  <add name="BookStoreConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=MPERDECK-PC\SQLEXPRESS;Initial Catalog=BookStore;Integrated Security=true" />
</connectionStrings>
