@using WebApplication1.Models
@model Product

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm())
        {
            @Html.EditorForModel()

            <input type="submit" name="Save" value="Save" />
        }
    </div>
</body>
</html>
