@using WebApplication1.Models
@model IEnumerable<Product>


<table>
    @foreach (var p in Model)
    {
        <p>
            @Html.DisplayFor(m=>p)
        </p>
    }
</table>

@Html.ActionLink("Add", "Add")
