<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net46" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net46" />
  <package id="Common.Logging.Log4Net1211" version="3.0.0" targetFramework="net46" />
  <package id="JSNLog" version="2.17.1" targetFramework="net46" />
  <package id="JSNLog.Log4Net" version="2.17.1" targetFramework="net46" />
  <package id="log4net" version="2.0.0" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net46" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net46" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net46" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net46" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="4.0.1" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="WebActivatorEx" version="2.0" targetFramework="net46" />
</packages>