@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
     Put content here.

    bit more work work 2
</p>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>
work4 did this   yes yes

</p>
<p>
    changres tgo work1  333
    change on master 33
    changres tgo work2 aarrggggg 33
    blah blah
    changres tgo work1  33ffff3
</p>