@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
     Put content here.

    bit more work work 2
</p>

<ul data-role="listview" data-inset="true">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>
<p>
    change made on work1 22
</p>
<p>
    change on master 33
</p>