@model WebApplication1.Models.Product

@Html.HiddenFor(m => m.ProductId)

@{
    Type t = typeof(WebApplication1.Models.Product);
    var members = t.GetMembers().Where(m=>m.MemberType == System.Reflection.MemberTypes.Property).OrderBy(m => m.Name);
}

<dl class="dl-horizontal">
    @foreach (var member in members)
    {
        <hr/>
        <p>@member.Name</p>
        <dt>
            @Html.DisplayName(member.Name)
        </dt>

        <dd>
            @Html.Display(member.Name)
        </dd>
    }
</dl>
