@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

@using (Html.BeginForm("About2", "Home"))
{

    <input type="submit" value="Submit to my will!! 2" />
}

@using (Html.BeginForm("About3", "Home"))
{

    <input type="submit" value="Submit to my will!! 3" />
}


@using (Html.BeginForm("About4", "Home"))
{

    <input type="submit" value="Submit to my will!! 4" />
}


